<%= simple_form_for @character do |f| %>
  <div class="row">
    <div class="medium-3 columns">
      <%= f.input :player_name %>
    </div>
    <div class="medium-3 columns">
      <%= f.input :name, label: 'Character name' %>
    </div>
    <div class="medium-2 columns">
      <%= f.input :level, :collection => 1..30 %>
    </div>
    <div class="medium-2 columns">
      <%= f.input :race %>
    </div>
    <div class="medium-2 columns">
      <%= f.input :cclass, label: 'Class' %>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="medium-2 columns">
      <%= f.input :initiative %>
    </div>
    <div class="medium-2 columns">
      <%= f.input :max_hit_points, label: 'Max HP' %>
    </div>
    <div class="medium-2 columns">
      <%= f.input :hit_points, label: 'HP' %>
    </div>
    <div class="medium-2 columns">
      <%= f.input :temp_hit_points, label: 'Temp HP' %>
    </div>
    <div class="medium-2 columns">
      <%= f.input :action_points %>
    </div>
    <div class="medium-2 columns">
      <%= f.input :speed %>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="medium-2 columns">
      <%= f.input :surges_per_day, label: 'Surges/day' %>
    </div>
    <div class="medium-2 columns">
      <%= f.input :surge_value %>
    </div>
    <div class="medium-2 columns">
      <%= f.input :remaining_surges %>
    </div>
    <div class="medium-6 columns">
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="medium-1 columns" style="background-color:#ccc">
      <%= f.input :armor_class, label: 'AC' %>
    </div>
    <div class="medium-1 columns" style="background-color:#ccc">
      <%= f.input :fortitude, label: 'FORT' %>
    </div>
    <div class="medium-1 columns" style="background-color:#ccc">
      <%= f.input :reflex, label: 'REF' %>
    </div>
    <div class="medium-1 columns" style="background-color:#ccc">
      <%= f.input :will, label: 'WILL' %>
    </div>
    <div class="medium-2 columns">
      &nbsp;
    </div>
    <div class="medium-1 columns">
      <%= f.input :strength, label: 'STR' %>
    </div>
    <div class="medium-1 columns">
      <%= f.input :constitution, label: 'CON' %>
    </div>
    <div class="medium-1 columns">
      <%= f.input :dexterity, label: 'DEX' %>
    </div>
    <div class="medium-1 columns">
      <%= f.input :intelligence, label: 'INT' %>
    </div>
    <div class="medium-1 columns">
      <%= f.input :wisdom, label: 'WIS' %>
    </div>
    <div class="medium-1 columns">
      <%= f.input :charisma, label: 'CHA' %>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="medium-2 columns">
      <%= f.input :acrobatics %>
      <%= f.input :arcana %>
      <%= f.input :athletics %>
    </div>
    <div class="medium-2 columns">
      <%= f.input :bluff %>
      <%= f.input :diplomacy %>
      <%= f.input :dungeoneering %>
    </div>
    <div class="medium-2 columns">
      <%= f.input :endurance %>
      <%= f.input :heal %>
      <%= f.input :history %>
    </div>
    <div class="medium-2 columns">
      <%= f.input :insight %>
      <%= f.input :intimidate %>
      <%= f.input :nature %>
    </div>
    <div class="medium-2 columns">
      <%= f.input :perception %>
      <%= f.input :religion %>
      <%= f.input :stealth %>
    </div>
    <div class="medium-2 columns">
      <%= f.input :streetwise %>
      <%= f.input :thievery %>
    </div>
  </div>
  <hr/>
  <div class="row">
    <%= f.button :submit %>
  </div>
<% end %>
