<p id="notice"><%= notice %></p>

<p>
  <strong>Character name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Level:</strong>
  <%= @character.level %>
</p>

<p>
  <strong>Race:</strong>
  <%= @character.race %>
</p>

<p>
  <strong>Class:</strong>
  <%= @character.cclass %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
